@page
@model PrivacyModel
@{
    ViewData["Title"] = "Om";
}

<div>
    <h2>Om</h2>

    <p>Hej! Jag heter Emelie Frendel och är 33 år gammal. Jag kommer från Stockholmsområdet, men bor numera i Karlskoga.</p>

    <p>Jag kom i kontakt med kodning för första gången för kanske 15år sedan då jag hade en
    blogg och gillade att mixtra med designen. Sen dess har det alltid varit lite av ett intresse
    och nu pluggar jag Webbutvecklingsprogrammet på Mittuniversitetet vilket känns väldigt roligt.</p>

    <p>Övriga intressen inkluderar bl.a. fotografering, bildbehandling, datorspel och musik. </p>
</div>
